.containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 2em 0;
    
    select {
        margin-bottom: .5em;   
    }
    .labelsRegister{
        display: none;
    }
}



.titleSection{
    color: white;
    font-size: 1.2em;
}

.containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    width: 90vw;
    max-width: 60em;
    border-radius: 2em 2em;
    background-color: $cards;
    box-shadow: .5em .5em 1em 0em $darkShadow;
}

.boxRegister{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.regData{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 2em;
}

.sendButton {
    color: white;
    :hover{
        color:$darkShadow;
    }
}

.validateError{
    display: flex;
    justify-content: center;
    max-width: 14em;
    color: white;
    margin-bottom: 1em;
}

.checkerBox{
    display: flex;
    flex-direction: column;
    width: 12em;
    padding: 1em;
    margin-bottom: 1em;
    color: $shadow;
    box-shadow: inset .15em .15em .5em 0 $darkShadow;
    background-color: white;
    border-radius: 1em 1em;

    .preferenceLabels{
        align-self: center;
        text-align: center;
        font-size: 1.2em;
        border-bottom: .3em dotted $darkShadow;
        width: 80%;
        padding-bottom: .7em;
        margin-bottom: 1em;
        color: $cards;
    }

    .radioInputs{
        all:unset;
        width: 2em;
        height: 2em;
        margin: .2em .5em 0 0;
        border-radius: 50%;
        background-color: $cards;
        transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover{
            background-color: $darkShadow;
            transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:checked{
            background-color: $darkShadow;
        }
    }

    .checkOpt{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: .1em;
    }
    
}