.titleSection{
    color: white;
    font-size: 1.5em;
    font-family: $newF;
    margin-bottom: 1em;
}

.validateError{
    display: flex;
    justify-content: center;
    max-width: 14em;
    color: white;
    margin-bottom: 1em;
}

