.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.profileBox{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .profileCard{
        display: flex;
        flex-direction: column;
        padding: 4em;
        border-radius: .15em;
        border-right: .35em solid $color2;
        border-bottom: .35em solid $color2;
        box-shadow: -.3em -.3em 0em 0 $color1;
        color: white;
    }

    .profileInfo{
        display: flex;
        flex-direction: row;
        align-items: center;

        .info{
            margin: .4em .4em 0 0;
            font-family: $subtitle;
        }
    
    }

    
    .boxButton{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 2em;
        margin-top: 2em;

        .buttonProfile{
            margin-right: 1em;
            cursor: pointer;
            &:hover{
                font-size: 1.4em;
                color: $darkShadow;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}