.bLog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 12em;
    border-radius: 1em;
    background-color: white;
    margin-bottom: 1em;
    color: $shadow;
    box-shadow: inset .15em .15em .5em 0 $shadow;

    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
        background-color: $shadow;
        box-shadow: .15em .15em .5em 0 $shadow;
        color: $cards;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
    }
}

