.checkerBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5em .5em 1.5em;
    border-radius: $border_m;
    margin-bottom: 2em;
    width: 14.5em;
    background-color: $color3;
}

.checkOpt{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12em;
    margin-bottom: .3em;
    
    .radioInputs{
        all:unset;
        width: 1.5em;
        height: 1.5em;
        margin: .2em .5em 0 0;
        border-radius: $border_m;
        border: $border_m solid $color2;
        box-shadow: inset 0 0 0 0 $color2;
        transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover, &:checked{
            box-shadow: inset 4em 0 0 0 $color2;
        }
    }

    label {
        margin-left: .5em;
    }
}

.preferenceLabels {
    font-family: $newF;
    font-size: 1.5em;
    margin-bottom: .5em;
}