.containerUpload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20em;
    padding: 4em 0;
}
.uploadForm{
    display: flex;
    flex-direction: column;
    height: 20em;
}
.photo{
    width: 10em;
    height: 10em;
}