.containerHome  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startButton {
    all: unset;
    margin-top: 2em;
    color: white;
    font-size: 1.5em;
    font-family: $subtitle;
    cursor: pointer;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        transform: scale(110%);
        color: $color2;
    }
}

.title{
    font-family: $title;
    font-size: 10em;
    line-height: 90%;
    text-shadow: 5px 5px 0px $color2;
}

.topTitle {
    margin-left: -.82em;    
}