.containerSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    padding: 2em;
    border-radius: $border_l;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.ageFilters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: .5em;
    flex-wrap: wrap;

    .ageRange{
        all: unset;
        cursor: pointer;
        padding: .7em;
        border-radius: $border_s*2;
        margin-right: .5em;
        width: 3em;
        margin-bottom: 1em;
        background-color: white;
        color: $color3;
        transition: .5s cubic-bezier(0.1, 0.5, 0.75, .9);
        &:hover{
            background-color: $color3;
            color: white;
        }   
    }
}
.hobbieFilters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .buttonHobbies{
        all:unset;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        margin: .2em .5em 0 0;
        border-radius: $border_m;
        border: $border_m solid $color3;
        box-shadow: inset 0 0 0 0 $color3;
        transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover, &:checked{
            box-shadow: inset 4em 0 0 0 $color3;
        }
    }
    label {
        color: $color3;
        margin-right: 1em;
        font-family: $newF;
    }
}

.boxSearch{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    background-color: $color2;
    padding: 2em;
    border-radius: $border_l;

    .playerCard {
        color: white;
        display: flex;
        flex-direction: column;
        width: 15em;
        padding: 1em 2em 1em 2em;
        background-color: $color3;
        // justify-content: flex-end;
        border-radius: $border_l;
        transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        margin: 0 1em 1em 0;
        box-shadow: .3em .3em .3em 0 $color3;

        .playerPic{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15em;
            height: 15em;
            margin-bottom: 1em;
            overflow: hidden;
            border-radius: $border_m;
            background-color: $color1;
        }

        .profilePhoto{
            width: 100%;
            height: auto;
        }

        .textInfo{
            color: white;
            margin: 1.5em 0 2em;
            padding: 1em 0;
            border-top: $border_s*2 dashed $color2;
            border-bottom: $border_s*2 dashed $color2;
        }

        .hobbies {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1em;
        }

        .cardInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            font-family: $newF;
            margin-bottom: .5em;
            
        }
    }
}

.boxCardButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3em;


    .cardButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $color2;
        font-size: 1.2em;
        height: 2em;
        width: 2em;
        transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover{
            padding: .3em 3em;
            background-color: $color2;
            color: $color3;
            border-radius: $border_m;
        }
 
    } 
}

@media (max-width: 737px){
    .hobbieFilters{
        flex-direction: column;
    }
    .buttonHobbies{
        flex-direction: row;
    }
}