.checkOptHobbies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.radioOpt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 11em;
    margin: 0 .4em 1em 0 ;
}
