.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 2em 0;
    max-height: 70em;
    max-width: 24em;
    background-color: $base;
    border-right: .35em solid $color2;
    border-bottom: .35em solid $color2;
    box-shadow: -.3em -.3em 0em 0 $color1;
    
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        border: .2em solid $color1;
        border-radius: 1em;
        box-shadow: 0 0 1em .2em $color2;
        animation: Breath infinite 1.5s cubic-bezier(0.9, 0.1, 0.1, .9);
        animation-direction: alternate-reverse;
        
    }
    @keyframes Breath {
        from {
            box-shadow: 0 0 .5em .2em $color2;;
        }
        to {
            box-shadow: 0 0 3em .2em $color2;;
        }
      }
}

.radioInputs {
    background-color: $color1;
}


.boxLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    all: unset;
    padding: .7em;
    margin-bottom: 1em;
    width: 12em;
    background-color: $color1;
    color: $base;
    transition: .5s cubic-bezier(0.1, 0.5, 0.75, .9);

    &:hover{
        background-color: $base;
        border-right: .35em solid $color2;
        border-bottom: .35em solid $color2;
        box-shadow: -.3em -.3em 0em 0 $color1;
        color: white;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.button{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: $darkShadow;
    padding: .7em .7em .5em .7em;
    // border-radius: .5em;
    background-color: white;
    cursor: pointer;
    width: 12em;
    font-family: $subtitle;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        background-color: $color1; 
        color: $base; 
        box-shadow: .3em .3em 0 0 $color2;
    }
    &:active{
        background-color: $base;
        border: .3em solid $color2;
        box-shadow: none;
        color: white;
    }
}

.barra {
    display: flex;
    align-self: center;
    border-bottom: .3em dotted $color2;
    width: 12em;
    margin: 1.5em 0;
}