// $bg1 : #f26d63;
// $cards : #f0291a;
// $shadows : #70403d;


$bg1 : #a3106e;
$cards : #f3009b;
$details : #ca00f0;
$darkShadow : #170044;
$shadow: #770cf0;


@font-face {
    font-family: pixel1;
    src: url('../assets/fonts/04b_30.TTF');
}
  
@font-face {
    font-family: minecraft;
    src: url('../assets/fonts/minecraft.ttf');
}

@font-face {
    font-family: pixeloid;
    src: url('../assets/fonts/PixeloidSans.ttf');
}

@font-face {
    font-family: arcadeclassic;
    src: url('../assets/fonts/arcadeclassic.TTF');
}


$title : pixel1;
$subtible : minecraft;
$font03 : pixeloid;
$font04 : arcadeclassic;