
$color1: #535353;
$color2: darkorange;
$color3: #0c0c0c;

@font-face {
    font-family: square;
    src: url('../assets/fonts/Square\ One.ttf');
}

$newF: square;

$border_s: .1em;
$border_m: .3em;
$border_l: .5em;