.containerNav {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    background-color: black;

    nav {
        display: flex;
        justify-content: center;
        color: white;
        width: 100%;

        .navBox{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 50%;
            max-width: 20em;
        
            .actions{
                all:unset;
                cursor: pointer;
                transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover{
                    transform: scale(120%);
                    color: $cards;
                    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }
        }

    }
}
